{% load static %}
<!DOCTYPE html>
<html lang="es">

  <!-- Head -->
  <head>
  {% include 'core/head.html' %}
  <title>{% block title %}{% endblock %} | La Caffettiera</title>
  </head>

  <body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
      <span class="site-heading-upper text-primary mb-3">L'autentico caffè d'italia</span>
      <span class="site-heading-lower">La Caffettiera</span>
    </h1>

    <!-- Navegación -->
    {% include 'core/navigation.html' %} 

    <!-- Contenido -->
    {% block content %}{% endblock content %}

    <!-- Context Generator -->
    {{ prueba }} 

    <!-- Pie de página -->
    {% include 'core/footer.html' %}

    <!-- Scripts JS -->
    {% include 'core/scripts.html' %}
</body>
</html>
